#instafeed a {
  padding:5px 5px 1px 5px;
  margin:10px;
  border:1px solid #e1e1e1;
  display:inline-block;
  border-radius: 4px;
  position:relative;
}

#instafeed .likes {
  background:rgba(222,89,135,0.8);
  font-family:sans-serif;
  font-size:1em;
  position:absolute;
  color:#ffffff;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  text-align:center;
  line-height:306px;
  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
  -moz-transition: opacity 100ms ease;
  -o-transition: opacity 100ms ease;
  -ms-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

#instafeed {
  text-align: center;
}

#load_wrapper {
    text-align: center;
    margin: 10px;
}

#load-more {
    background: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    -webkit-transition: background 1000ms ease-out;
    -moz-transition: background 1000ms ease-out;
    -o-transition: background 1000ms ease-out;
    -ms-transition: background 1000ms ease-out;
    transition: background 1000ms ease-out;
}

#load-more:hover {
    background: #000;
    color: #fff;
}